.rdg {
  border: none !important;
  background: transparent !important;
}

.rdg-header-row {
  background-color: #f8f9fa !important;
  font-weight: bold;
  color: #6b7280;
}

.rdg-row {
  border-bottom: none !important;
}

.custom-grid .rdg-cell {
  border: none !important;
  padding: 12px;
  text-align: left;
}

.css-13cymwt-control {
  height: 40px;
  display: flex;
}

/* ********** animations ********** */

.fade-in {
  animation: fade-in 0.8s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-in-right {
  animation: slide-in-right 0.9s forwards;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slide-in-left 1.7s forwards;
}

@keyframes slide-in-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in-top-bounce {
  animation: slide-in-top-bounce 1.8s forwards;
}

@keyframes slide-in-top-bounce {
  from {
    transform: translateY(-100%);
  }
  30% {
    transform: translateY(10%);
  }
  60% {
    transform: translateY(-5%);
  }
  80% {
    transform: translateY(2.5%);
  }
  to {
    transform: translateY(0);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
