name: Frontend CI

on:
  push:
    branches:
      - development
      - main
  pull_request:
    branches:
      - development
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Download OpenAPI spec from backend release
        run: |
          curl -L \
            https://github.com/kwansodan/ifrs9pro_backend/releases/download/api-84714cf4ac925d966c645d464bce79d10c7090ff/openapi.yaml \
            -o openapi.yaml

      - name: Generate API Types
        run: npm run generate:api

      - name: Build app
        run: npm run build

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: npm run test:e2e

      - name: Upload Playwright report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report
